#fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.texto {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: aliceblue;
     background: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.116);
    max-width: 600px;
    margin: auto;
}
.boton a { 
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
  padding: 14px 32px;

  text-decoration: none;
  font-weight: bold;
  color: rgb(41, 19, 22);


  background: linear-gradient(
    135deg,
    #38ffe59c,
    #63ff85a1
  );

  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(3, 80, 245, 0.5);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
  

}
